---
 const personalImageAlt = "Lanzer Cabanillas"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Lanzer Antuan. Desde pequeño, siempre he tenido una profunda curiosidad por entender cómo funcionan las cosas.
      Mi pasión por la tecnología comenzó a los 12 años, cuando obtuve mi primera computadora.
      Desde ese momento supe que quería ser programador, aunque en ese entonces no entendía del todo lo que implicaba.
    </p>

    <p>
      Tras graduarme de una preparatoria técnica, comencé a programar como hobby, desarrollando juegos en Unity 2D.
      Esto me permitió poner en práctica lo que había aprendido y, al mismo tiempo, descubrir lo mucho que disfrutaba aprender de manera autodidacta.
    </p>

    <p>
      Estudié durante tres meses la carrera de "Ingeniería en Desarrollo de Software" en la universidad, pero pronto me di cuenta de que no estaba aprendiendo a la velocidad que sabía que podía alcanzar, ni abordando los temas que eran realmente relevantes en el ámbito laboral.
      Por ello, tomé la arriesgada, pero acertada decisión de dejar la universidad para continuar mi formación de manera independiente.
    </p>

    <p>
      Después de seis meses de estudio intensivo y exclusivo en desarrollo web, conseguí mi primer trabajo como programador frontend en Angular. 
      Desde entonces, he estado inmerso en el entorno laboral de la programación.
    </p>
  </div>

  <img width="200" height="200" src="/perfil.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
